<html>

    <head>
        <link rel='stylesheet' href='main.css'>
    </head>

        <body>
            <div id="main-div">
                <% for(let stops of busTimes){%>
                <% for(let buses of stops){%>
                <p><%=buses %></p>
                <% } %>
                <% } %>
                </form>
            </div>
        </body>

</html>